{% extends "base.html" %}
{% block title %}<title>Поиск аналогов инструмента</title>{% endblock %}
{% block content %}
    <form method="POST" action="{{ url_for('search_product') }}">
        {{ form.csrf_token }}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                {{ form.submit(class="btn btn-outline-secondary") }}
            </div>
            {{ form.search(class="form-control", placeholder="") }}
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            {% for subfield in form.search_type %}
                <label class="btn btn-outline-secondary btn-sm {% if subfield.label == 'ngram_search' %}active{% endif %}">
                    {{ subfield() }}
                    {{ subfield.label }}
                </label>
            {% endfor %}
        </div>
        <div class="row mt-3">
            <div class="col-3">
                <div class="form-group">
                    {{ form.maker(class="form-control") }}
                </div>
            </div>
        </div>
    </form>

    {% if not_found %}
        <br>
        <div class="card">
          <div class="card-body">
            <p class="card-text">Не найдено</p>
          </div>
        </div>
    {% endif %}
    {% if result %}
        <br>
        {% for item in result %}
            <div class="card">
                <div class="card-body">
                    <p class="card-text">{{ item.name }} {{ item.maker }}</p>
                    {#                <a href="#" class="card-success">Скопировать обозначение аналога</a>#}
                </div>
            </div>
            <br>
        {% endfor %}
    {% endif %}
{% endblock %}